# Ignore virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore database files
*.sqlite3

# Ignore log files
*.log

# Ignore environment variables files
.env

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
