asgiref
certifi
Django
django-filter
djangorestframework
djangorestframework-simplejwt
elastic-transport
elasticsearch
elasticsearch-dsl
Markdown
pandas
PyJWT
python-dateutil.post0
pytz
sqlparse
typing_extensions
tzdata
